body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 900px;
    margin: 30px auto;
    background: #fff;
    border: 2px solid #000;
    padding-bottom: 30px;
}

.header {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid black;
}

.menu {
    padding: 10px;
    border-bottom: 2px solid black;
}

.menu a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.content {
    padding: 30px;
    text-align: center;
}

.buttons a,
button {
    display: inline-block;
    padding: 8px 25px;
    border: 2px solid black;
    background: white;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.buttons a:hover,
button:hover {
    background: #eee;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

.form-box {
    width: 400px;
    margin: 0 auto;
    text-align: left;
}

.form-box input,
.form-box select {
    width: 100%;
    padding: 6px;
    margin-bottom: 15px;
}

.actions {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border: 1px solid #999;
    padding: 8px;
    margin-bottom: 20px;
}

.nav-left a {
    margin-right: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.nav-right {
    border: 1px solid #999;
    padding: 2px 10px;
    font-size: 14px;
}
